name: Daily Signin

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
  - cron: 1 */24 * * *
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: false
        default: 'false'

env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Get Script
      run: |
        git clone https://github.com/ZarkZero/test1.git
        cd test1

    - name: Run Script
      run: |
        node JD_DailyBonus.js

    - name: Delete workflow runs
      uses: GitRML/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 3
