name: Upload

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: false
        default: 'false'

env:
 TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo timedatectl set-timezone "$TZ"

    - name: config push
      env:
        PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
      if: ${{ env.PUSH_TOKEN != '' }}
      run: |
        echo "PUSH_TOKEN=${{ secrets.PUSH_TOKEN }}" >> $GITHUB_ENV
        git config --global user.email "782558181@qq.com"
        git config --global user.name "ZarkZero"

    - name: Clone source code
      run: |
       wget https://downloads.openwrt.org/releases/22.03.0-rc4/targets/ipq806x/generic/openwrt-22.03.0-rc4-ipq806x-generic-netgear_r7500-squashfs-sysupgrade.bin

    - name: Push Files
      run: |
       git add .
       git commit -m 'test file'
       git push

